@charset "utf-8";
@import "basic.css";
@import "font.css";

body {
  background-color: #f1f1f1;
  text-align: center;
  font: 14px/1.5 "Microsoft YaHei", arial, tahoma, \5b8b\4f53, sans-serif;
  color: #434343;
}

.headline {
  color: #d58638;
  font-size: 250%;
}
