@charset "utf-8";
@import "basic.css";
@import "font.css";
@import "menu.css";

body {
  background-color: #ffffff;
  text-align: center;
  font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #434343;
}
