.sidebar {
  position: fixed;
  top: 30px;
  left: 50px;
  text-align: left;
}

.sidebar-headline {
  color: #d58638;
  font-size: 200%;
}

.sidebar-content {
  margin-top: 9px;
  font-size: 18px;
}

.second-content {
  color: #515151;
  position: relative;
  left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.second-menu {
  margin-top: 5px;
  position: relative;
  left: 0;
  -webkit-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
}

.second-menu:hover {
  left: 3px;
}

.menu-color {
  transition: color 0.2s;
}

.menu-color:hover {
  color: #d58638;
}

.choosen-menu {
  color: #d58638;
}
