.sidebar {
  margin-top: 30px;
  margin-left: 45px;
  text-align: left;
}

.sidebar-headline {
  font-size: 200%;
  color: #d58638;
}

.sidebar-content {
  margin-top: 9px;
  font-size: 130%;
}

.second-content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 60%;
  color: #515151;
}

.topic-bar {
  transition: color 0.2s;
}

.topic-bar:hover {
  color: #d58638;
}

.first-menu {
  margin-top: 5px;
  margin-bottom: 5px;
}

.second-menu {
  margin-top: 5px;
  transition: color 0.2s;
  position: relative;
  left: 0;
}

.second-menu:hover {
  color: #d58638;
  left: 3px;
}
